*,
*:before,
*:after {
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

/* Popup styling */
.popup{
    background-color: aliceblue;
    width: 90%;
    height: 75%;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.popup h3{
    margin-top: 15px;
}

.popup .list{
    font-size:14px;
}

.popup .list li{
    margin-bottom: 5px;
}

.popup button{
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    color: grey;
    border: none;
    outline: none;
    cursor: pointer;
}

#mainContainer {
    background-color: #404B5B;
    border-color: white;
    display: inline-block; /* Stretch container width to fit city name, starting small */
    min-width: 10vw;
    max-width: 30vw;
    padding: 10px;
}

.headerText{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
}

#CityWeatherContainer{
    /* background-color: yellow; */
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#weatherSprite {
    /* background-color: blue; */
    width: 25vh;
    height: 25vh;
    margin: 1vh 0;
}

.sectionSeperator {
    width: 100%;
    height: 3px;
    background-color: white;   
}

#tempContainer{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#temp {
    /* background-color: purple; */
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 5.5vh;
    margin: 0 2vh;
}

#mintemp {
    /* background-color: orange; */
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: #94C8E1;
    font-size: 1.7vh;
}

#maxtemp {
    /* background-color: orange; */
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: #E19494;
    font-size: 1.7vh;
}

#weatherForm {
    /* background-color: pink; */
    width: 100%;
    display: flex;               /* horizontal layout */
    flex-direction: column;      /* vertical layout */
    align-items: center;
    padding: 0 0 10px 0;   
}

#city {
    width: 90%;
    font-size: 2.0vh;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background-color: #707B8B;
    color:  white;
    outline: none; /* Remove focus (clicked) outline */
    padding: 0 5px;
}

#city::placeholder {
    color: black;
    opacity: 0.4; /* Make placeholder text slightly transparent */
}